[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Readone (android-armv7a-belalang-tempur)
[access "refs/for/refs/*"]
	read = group user/Readone (android-armv7a-belalang-tempur)
	push = group user/Readone (android-armv7a-belalang-tempur)
	label-Code-Review = -2..+2 group user/Readone (android-armv7a-belalang-tempur)
	label-Verified = -1..+1 group user/Readone (android-armv7a-belalang-tempur)
	rebase = group user/Readone (android-armv7a-belalang-tempur)
	removeReviewer = group user/Readone (android-armv7a-belalang-tempur)
	submit = group user/Readone (android-armv7a-belalang-tempur)
[access "refs/heads/*"]
	read = group user/Readone (android-armv7a-belalang-tempur)
	create = group user/Readone (android-armv7a-belalang-tempur)
	push = +force group user/Readone (android-armv7a-belalang-tempur)
	pushMerge = group user/Readone (android-armv7a-belalang-tempur)
[access "refs/tags/*"]
	push = +force group user/Readone (android-armv7a-belalang-tempur)
	pushTag = group user/Readone (android-armv7a-belalang-tempur)
	pushSignedTag = group user/Readone (android-armv7a-belalang-tempur)
